<%= form_with model: [ @post, @post.comments.build ] do |form| %>

  <div class="mb-4 w-full bg-gray-50 rounded-lg border border-gray-200">
    <div class="py-2 px-4 bg-white rounded-t-lg">
      <%= form.text_area :content, rows: "7", cols: "60", placeholder: "Say something about the post",
      class: "px-0 w-full text-sm text-gray-900 bg-white border-0 focus:ring-0" %>
    </div>
    <div class="flex justify-between items-center py-2 px-3 border-t">
      <%= form.submit class: "inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800"%>
    </div>
  </div>
<% end %>