<%# Show sent friend requests %>
<div>
  <h3>Sent</h3>
  <% @user.friend_requests_as_requestor.each do |request| %>
    <li>
      <%= request.receiver.first_name %> <%= request.receiver.last_name %>
      <%= button_to "Cancel Request", cancel_friend_request_user_path(request.receiver.username), form: {style: 'display:inline-block;'}, method: :get %>
    </li>
  <% end %>
</div>