<%# Show sent friend requests %>
<div class="card flex flex-row gap-4 m-4">
  <h3 class="">Sent friend requests</h3>
  <% @user.friend_requests_as_requestor.each do |request| %>
    <div class="">
      <div class="card w-72 mb-1 text-lg text-gray-900 text-center">
        <span><%= request.receiver.first_name %> <%= request.receiver.last_name %></span>
        <%= button_to "Cancel Request", cancel_friend_request_user_path(request.receiver.username), class: "btn-default p-1 font-light text-sm bg-red-500 hover:bg-red-600 active:bg-red-700 focus:outline-none focus:ring focus:ring-red-300", method: :get %>
      </div>
    </div>
  <% end %>
</div>