<h1>Index</h1>

<div>
  <h2>These are all the other users</h2>
  <%= @users.each do |user| %>
    <% if user.email == current_user.email %>
    <% else %>
      <li> 
        <%= user.email %>
      </li>
    <% end %>
  <% end %>
  <h2>These are pending friend requests you sent</h2>
  <h2>These are all your friends</h2>
</div>