<%# <footer class="fixed bottom-0  h-2/5 bg-white text-gray-400 text-sm p-5">
  <a href="https://github.com/raymart-evangelista/rails_mock_facebook">
    <p class="text-center">raymart evangelista 2022</p>
  </a>
</footer> %>



<footer class="p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"><a href="https://github.com/raymart-evangelista/rails_mock_facebook/" class="hover:underline">raymart evangelista 2022</a></span>
</footer>
